@font-face {
  font-family: "custom-font";
  src: url(../st-la-peqaros-font/StLaPeqarosDemoRegular-YzDP4.otf)
    format("opentype");
}

* {
  color: #191970;
  font-family: "backlash";
}
body {
  min-width: 300px;
  background-color: #7df8ff7e;
}

main {
  min-height: 47.5vh;
}

#topBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.quick-links:hover {
  text-shadow: 10px -5px white;
}

.icon {
  height: 1.2rem;
}

.nav {
  background-color: #c0c0c0;
  padding: 0.5rem;
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  top: 0;
  z-index: 10;
}

.nav button {
  margin: auto;
  padding: 0 0.2rem;
}

.nav-button {
  display: flex;
  margin: 0.1rem 0.22rem;
  padding: 0.25rem 0.5rem;

  border-radius: 0.8rem;
  height: 3rem;
  align-items: center;
  color: darkblue;
  border: 2px solid darkblue;
}
.nav-button:hover {
  background-color: #7df8ff7e;
}

.desktop-nav {
  display: none;
}

.phone-nav {
  display: flex;
  align-items: center;
}

#account-button {
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
}

#account-button img {
  margin: auto;
}

.accordion-item {
  z-index: 2;
}

#brand-logo {
  height: 120px;
  width: auto;
}

.logo-container a {
  display: flex;
  justify-content: end;
}

#main-search-bar {
  height: 2rem;
  border: none;
  background: none;
}

.main-search-bar {
  border: 2px solid black;
  background-color: white;
  border-radius: 0.25rem;
  margin: 1rem auto 0.25rem;
}

.filter-accordion {
  padding: 0 0.25rem;
}

.category-img {
  height: 200px;
}

.category-text {
  height: 80px;
}

.message-us {
  border: 2px solid #36454f;
  background-color: #36454f;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}

.message-us a {
  color: white;
}

.message-us:hover {
  background-color: #191970;
  box-sizing: content-box;
}

#account-logo-image {
  height: 8rem;
  border-radius: 100%;
}

.shop-img-container {
  height: auto;
  width: 80%;
  margin: auto;
}

.item-shopping-img {
  height: 100px;
  width: auto;
}

.carousel-item img {
  height: 200px;
  width: auto;
}

.log-in-container,
.sign-up-container {
  max-width: 600px;
}
.resize-none {
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  resize: none;
  background: rgba(255, 255, 255, 0.8);
}

footer {
  background: radial-gradient(
    circle,
    rgba(187, 187, 187, 1) 0%,
    rgba(251, 251, 251, 1) 100%
  );
}
.footer-icons {
  list-style: none;
  column-count: 2;
  width: 100px;
  padding-left: 0;
}
.footer-icons li {
  margin: 0.25rem;
}
.footer-icon-img {
  height: 2rem;
}
.footer-icon-img:hover {
  background-color: #7df8ff7e;
  border-radius: 100%;
}
.rating {
  color: yellow;
}
.btn-lg {
  padding: 1rem;
}
.btn-grey {
  border: 2px solid #191970;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.btn-grey:hover {
  background-color: rgba(207, 226, 255, 1);
}
.btn-darkgrey {
  background-color: rgba(54, 69, 79, 1);
  color: white;
  border: none;
  border-radius: 0.5rem;
}
.btn-darkgrey:hover {
  background-color: #191970;
}
.btn-darkblue {
  background-color: none;
  color: #191970;
  border: 2px solid #191970;
  border-radius: 0.5rem;
}
.btn-darkblue:hover {
  color: #191970;
  border: 2px solid #191970;
}
.border-shadow {
  box-shadow: 5px 5px 10px grey, 10px 10px 20px black;
}
.border-shadow-hover {
  box-shadow: 5px 5px 10px #7df8ff7e;
}
.border-shadow-hover:hover {
  box-shadow: 5px 5px 10px grey, 10px 10px 20px black;
}
.text-green {
  color: yellowgreen;
}
.text-lightblue {
  color: aqua;
}
.text-darkblue {
  color: #191970;
}
.text-charcoal {
  color: #36454f;
}
.text-change:hover {
  font-style: italic;
}
.bg-div {
  background: radial-gradient(
    circle,
    rgba(187, 187, 187, 1) 0%,
    rgba(251, 251, 251, 1) 100%
  );
  background-color: none;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #c0c0c0, 4px 4px 8px #36454f;
}
.bg-blue {
  background-color: rgba(207, 226, 255, 1);
}
.bg-one {
  background-image: url(../images/backgrond-images/abstract-white.jpg);
  background-size: cover;
  padding: 1rem;
  box-sizing: border-box;
}
.bg-two {
  background-image: url(../images/backgrond-images/5599319.jpg);
  background-size: cover;
  padding: 1rem;
  box-sizing: border-box;
}
.bg-three {
  background-image: url(../images/backgrond-images/5968949.jpg);
  background-size: cover;
  padding: 1rem;
  box-sizing: border-box;
}
.bg-four {
  background-image: url(../images/backgrond-images/4857390.jpg);
  background-size: cover;
  padding: 1rem;
  box-sizing: border-box;
  background-position: top;
}
.white-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}
.transparent {
  background: rgba(255, 255, 255, 0.8);
}
.no-border {
  border: none;
  background: none;
}

@media screen and (min-width: 574px) {
  body {
    max-width: 1920px;
    margin: auto;
  }

  .searchbar-container {
    max-width: 1200px;
    margin-right: 2rem;
  }

  .filter-category {
    column-count: 2;
  }

  .item-shopping-img {
    height: 160px;
    width: 100%;
  }

  .carousel-item img {
    height: 300px;
    width: auto;
  }
  .carousel-button {
    height: 20px;
  }

  .shop-img-container {
    height: 300px;
    width: 100%;
    margin: auto;
  }

  .shop-img-container:hover {
    box-shadow: 5px 5px #c0c0c0;
  }

  .shop-img-container a {
    height: 100%;
  }

  .message-us {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .icon {
    width: 2rem;
    height: 2rem;
    margin: auto;
  }

  .nav {
    padding: 1rem;
    padding-right: 2rem;
  }

  .nav-button {
    justify-content: center;
    padding: 0.25rem 1rem;
    margin: auto 0.5rem;
  }

  .phone-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  #accout-button {
    margin: auto;
    padding: 0;
  }

  .search-section {
    margin-top: 130px;
  }

  .message-section {
    position: relative;
    margin-top: 130px;
    padding-top: 1rem;
  }

  .message-us-container {
    text-align: center;
  }
  .message-section .message-us-container h1 {
    position: absolute;
    top: 3.5rem;
    right: 0;
    left: 0;
    margin: auto;
  }

  .item-description {
    width: 50%;
  }

  .support-topic {
    border-bottom: none;
  }

  .carousel-item img {
    height: 500px;
    width: auto;
  }

  .logo-container a {
    justify-content: end;
  }
  .account-profile-details {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .shop-img-container {
    height: 330px;
    width: 100%;
  }

  .item-shopping-img {
    height: 150px;
    width: 90%;
  }
}

.active {
  display: block;
  transition: 2s;
}

.inactive {
  display: none;
  transition: 2s;
}
